@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --color-black01: #1A1A1A;
  --color-darkNavy: #090D1F;
  --color-pink01:#7F56D9;
  --color-gray01:#667085;
  --color-gray02:#D0D5DD;
  --color-gray03:#EAECF0;
  --color-purple01:#6941C6;
  --color-purple02:#F9F5FF;
}

@custom-variant dark (&:where(.dark, .dark *));


/* globals.css */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gradient-to-b from-[var(--color-purple01)] to-[var(--color-pink01)];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gradient-to-b from-[var(--color-pink01)] to-[var(--color-darkNavy)];
}
